<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <ng-container *ngTemplateOutlet="formBlock; context:{ $implicit: block, group: form }"></ng-container>

      <div class="form-row">
        <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      </div>

    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Submit the following values: </strong>
      <pre>{{payLoad}}</pre>
    </div>
</div>

<!-- Recursive template -->
<ng-template #formBlock let-block let-group="group">
  <div class="form-block" [formGroup]="group">
    <h4>{{block.label}}</h4>
    <div *ngFor="let field of block.fields">
      <app-dynamic-form-field [field]="field" [formGroup]="group"></app-dynamic-form-field>
    </div>
    <div *ngFor="let children of block.children" [formGroupName]="children.key">
      <ng-container 
        *ngTemplateOutlet="formBlock; context:{ $implicit: children, group: group.controls[children.key] }">
      </ng-container>
    </div>
  </div>
</ng-template>