<div [formGroup]="formGroup">

    <div [ngSwitch]="field.controlType">
  
      <mat-form-field *ngSwitchCase="'textbox'">
        <mat-label>{{field.label}}</mat-label>
        <input matInput autocomplete="off"
          [placeholder]="textFieldPlaceholder" 
          [formControlName]="field.key"
          [required]="field.required">
      </mat-form-field>
  
      <mat-form-field *ngSwitchCase="'dropdown'">
        <mat-select  
          [value]="field.value"
          [placeholder]="field.label"
          [formControlName]="field.key"
          [required]="field.required">
          <mat-option *ngFor="let opt of field.options" 
            [value]="opt.key">
            {{opt.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngSwitchCase="'radiobutton'">
        <label id="radio-group-label" [class.required]="field.required">{{field.label}}</label>
        <mat-radio-group
          [value]="field.value"
          [formControlName]="field.key"
          aria-labelledby="radio-group-label"
          class="radio-group">
          <mat-radio-button class="radio-button" *ngFor="let opt of field.options" [value]="opt">
            {{opt}}
          </mat-radio-button>
        </mat-radio-group>  
      </div>
        
    </div> 

</div>